
<!-- <app-student-card-details >
  <form class="body">
      First Name <input type="text"/> <br/><br/>
      Last Name <input type="text"/><br/>
      <button>submit</button>
  </form>
</app-student-card-details> -->


<app-student-card-details >

    <form class="foot" style="color: red">
        <app-student-card-info-date></app-student-card-info-date><br/><br/>
        <app-student-card-info-date></app-student-card-info-date><br/><br/>
        <app-student-card-info-date></app-student-card-info-date><br/><br/>
        <app-student-card-info-date></app-student-card-info-date><br/><br/>
        <!-- <app-student-card-info-date></app-student-card-info-date><br/><br/>
        <app-student-card-info-date></app-student-card-info-date><br/><br/> -->
        First Name <input type="text"/> <br/><br/>
        Last Name <input type="text"/><br/>
        <button>submit</button>
    </form>
  </app-student-card-details>



